// ----- fonts -----
$font-family: "Montserrat", sans-serif;
$font-extra-light: 300;
$font-light: 300;
$font-regular: 400;
$font-bold: 500;
$font-extra-bold: 600;

$font-10: 1em;
$font-12: 1.2em;
$font-14: 1.4em;
$font-16: 1.6em;
$font-18: 1.8em;
$font-20: 2em;
$font-22: 2.2em;
