// ----- Typo -----
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

// ----- colors -----
$color-primary: #2f2c4d;
$color-secondary: #45436e;
$color-muted: #858be5;
$color-white: #ffffffea;
$color-notify: #80ffdb;

// ----- fonts -----
$font-family: "Montserrat", sans-serif;

// ----- spacing -----
$size: 62.5%;
$margin: 1em;
$margin-2: $margin * 2;

// ----- spacing -----
$w-100: 100%;
$h-100: 100%;
