.event__container {
  margin-top: $margin;

  h2 {
    margin: $margin 0;
  }
}

.event {
  @include center-items;
  padding: $margin * 0.5 $margin;

  &__date {
    @include center-items;
    width: $margin * 5;
    height: $margin * 5;
    background-color: $color-primary;
    padding: $margin;
    color: $color-white;
    flex-direction: column;
  }

  &__info {
    width: 60%;
    font-size: $font-10;
    i {
      margin-left: $margin;
      color: $color-primary;
    }

    & p:last-child {
      color: $color-notify;
      cursor: pointer;
    }
  }
}
