.friend__container {
  margin-top: $margin * 4;

  h2 {
    margin: $margin 0;
  }
}

.friend {
  @include center-items;
  width: 80%;
  padding: $margin * 0.5 0;
  justify-content: space-evenly;
  img {
    width: $margin * 3;
    height: $margin * 3;
    border-radius: 50%;
    margin-right: $margin;
  }

  &__info {
    h4 {
      color: $color-primary;
      font-size: $font-12;
      font-weight: $font-extra-bold;
    }
    i {
      margin-left: $margin;
    }
  }
}
