.center__icons {
  @include center-items;
  @include wh-100;
  font-size: $font-14;
  justify-content: space-evenly;
  i {
    &:hover {
      color: $color-notify;
      cursor: pointer;
      border-radius: 50%;
    }
  }
}

.notification {
  width: $margin;
  height: inherit;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &::after {
    font-size: $margin;
    color: $color-notify;
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: $margin * 1.25;
    height: $margin * 1.25;

    background-color: $color-tertiary;
    border-radius: 50%;
    font-family: Arial;
    position: absolute;

    top: $margin;
    left: $margin;
    content: attr(data-count);
  }
}
