.navbar {
  @include wh-100;
  display: grid;
  grid-template-columns: 15% 1fr 20%;
  background-color: $color-secondary;
  color: $color-white;

  &__center {
    @include center-items;
    display: grid;
    grid-template-columns: 60% 20% 1fr;
  }
}

.left__menu {
  @include center-items;
  @include wh-100;
  justify-content: space-around;
  font-size: $font-16;
  border-right: 1px solid $color-primary;
}

.center__search {
  @include center-items;
  @include wh-100;
  justify-content: center;

  i {
    font-size: $font-12;
    color: $color-secondary;
  }

  input[type="text"] {
    height: $margin * 2.5;
    border: 2px solid $color-secondary;
    border-radius: $margin * 2;
    width: 60%;
    margin: 0 0.5em;
    background-color: $color-primary;
    padding: $margin;
    color: $color-white;

    &:focus {
      color: $color-white;
      padding: $margin;
    }

    &::placeholder {
      color: $color-muted;
    }
  }

  button {
    width: 20%;
    border: 1.5px solid $color-notify;
    background-color: $color-primary;
    color: $color-white;
    height: $margin * 2.5;
    border-radius: $margin * 2;

    i {
      font-size: $font-10;
      color: $color-white;
    }

    span {
      margin: 0 0.5em;
    }
  }
}

.center__contact {
  @include center-items;
  font-size: $font-12;
  @include wh-100;
  justify-content: center;
  & span {
    margin: $margin;
  }
}

.center__icons {
  @include center-items;
  @include wh-100;
  font-size: $font-14;
  justify-content: space-evenly;
}

.notification {
  width: $margin;
  height: inherit;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  &::after {
    font-size: $margin;

    display: flex;
    align-items: center;
    justify-content: center;

    min-width: $margin;
    height: $margin;

    background-color: $color-notify;
    border-radius: 50%;
    font-family: Arial;
    position: absolute;

    top: $margin;
    left: $margin;
    content: attr(data-count);
  }
}

.right__user {
  @include center-items;
  @include wh-100;
  justify-content: center;
  font-size: $font-16;

  h4 {
    margin: 0 1em;
  }

  img {
    width: 15%;
    border-radius: 50%;
    margin: 0 0.5em;
  }

  i {
    margin: 0 1em;
  }
}
