.timeline__notification {
  max-height: 40em;
  background-color: $color-secondary;
  padding: $margin;
  margin: $margin 0;
}

.notify__header {
  @include center-items;
  color: $color-white;
  margin-bottom: $margin;
  justify-content: space-between;
  img {
    width: 10%;
    border-radius: 50%;
  }
  h4 {
    width: 70%;
    font-size: $font-16;
  }
}

.notify__chart {
  border: 1px solid red;
  @include wh-100;
  height: auto;
}
