// ----- Typo -----
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap");

// ----- colors -----
$color-primary: #2f2c4d;
$color-secondary: #45436e;
$color-tertiary: #221f36;
$color-muted: #71d1d1;
$color-white: #ffffffd0;
$color-text-muted: rgba(#fffffff5, 0.2);
$color-notify: #80ffdb;

// ----- spacing -----
$size: 62.5%;
$margin: 1em;
$margin-2: $margin * 2;

// ----- spacing -----
$w-100: 100%;
$h-100: 100%;
